
# Onboard LEDS
set_io red_led      11
set_io green_led    37
set_io led4grn      23
set_io led3grn      25
set_io led5grn      21
set_io led_1red     26

# Buttons
set_io reset 20
set_io start 19

# UART
set_io uart_tx      9
set_io uart_rx      6
